body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.logo {
    width: 130px;
    height: 60px;
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, label, p {
    margin: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.jumbotron-home {
    background: #FF6138;
    color: #FFF;
}

.jumbotron-home p {
    margin-bottom: 2em;
}

.mvg {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.mvg .actions {
    height: 13em;
    background: #A9CC66;
}

.donation {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.donation h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 36px;
}

.donation p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.works {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.works h2 {
    font-weight: bold;
    margin-bottom: 2em;
}

.works h4 {
    margin-top: 1.5em;
}

.works p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.core-values {
    background: #7F176B;
    padding: 3em;
    margin-bottom: 2em;
}

.core-values h3 {
    color: #FDE792;
    font-weight:bold;
}

.core-values p {
    padding-top: 2em;
    color: #FFF;
    font-size: 24px;
}

footer {
    margin-top: 0;
    padding-top: 2em;
    background: #FDE792;
}

footer .footer-top {
    padding-bottom: 2em;
}

footer .footer-bottom {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: #A9CC66;
}

.services {

}

.service-grid h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}
.grid-service {
    text-align: center;
}
.grid-service h4 {
    margin-top: 8px;
}

.grid-service h4 a {
    color: #000;
}

.grid-service p {
    height: 120px;
    min-height: 120px;
    padding: 16px 0;
}

.call-for-donation {
    padding-top: 3em;
    padding-bottom: 2em;
    background: #FF6138;
    color: #FFF;
    margin-top: 55px;
    margin-bottom: 55px;
}

.call-for-donation h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.call-for-donation p {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-top {
    color: #00A388;
    padding-top: 4em;
    padding-bottom: 4em;
}

.fa-icon {
    font-size: 50px;
    color: #000;
}

.service-bottom {
    margin-bottom: 60px;
}

.service-bottom h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.service-bottom h4 {
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-top-at {
    padding-top: 4em;
    padding-bottom: 4em;
}
.jumbotron-services {
    background: #00A388;
    color: #FFF;
    margin-top: 5em;
}

.jumbotron-about {
    background: #79BD8F;
    color: #FFF;
    margin-top: 5em;
}
.logo{
    height:10px;
    width: 10px;
}
.jumbotron-gallery {
    background: #046380;
    color: #FFF;
    margin-top: 5em;
}

.jumbotron-contact {
    background: #88A825;
    color: #FFF;
    margin-top: 5em;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 70vh;
    margin-top: 5em;
}
.fade-carousel .carousel-inner .item {
    height: 70vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background-color: #080d15;*/
    background-color: #FFF;
    opacity: .1;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7 {
    height: 100vh;
    //background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(https://s25.postimg.org/d32s1fii7/image.jpg);
}
.fade-carousel .slides .slide-2 {
    background-image: url(https://s25.postimg.org/63tbft7xr/image.jpg);
}
.fade-carousel .slides .slide-3 {
    background-image: url(https://s25.postimg.org/h5yee920f/8.jpg);
}
.fade-carousel .slides .slide-4 {
    background-image: url(https://s25.postimg.org/wz3cupoxb/image.jpg);
}
.fade-carousel .slides .slide-5 {
    background-image: url(https://s25.postimg.org/3xz0lb4hb/image.jpg);
}
.fade-carousel .slides .slide-6 {
    background-image: url(https://s25.postimg.org/s1b31mkxb/dic2.jpg);
}
.fade-carousel .slides .slide-7 {
    background-image: url(https://s25.postimg.org/bzinpgxv3/image.jpg);
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}


nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #209048; }
nav.navbar-findcond ul.navbar-nav a { color: #209048; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.gallery {
    margin-bottom: 100px;
}

.contact {
    margin-bottom: 100px;
}
.few-words {
    margin-top: 50px;
    margin-bottom: 100px;
}
.few-words h3 {
    font-weight:bold;
    margin-bottom: 20px;
}

.in-profile {
    margin-top: 100px;
    margin-bottom: 100px;
}

.in-profile h3 {
    font-size: 36px;
    font-weight:bold;
    margin-bottom:50px;
}

.about h3 {
    font-weight: bold;
    margin-bottom: 12px;
}

.jumbotron-donate {
    background: #209048;
    color: #FFF;
    padding-top: 10em;
}