<!-- index.html -->
<!DOCTYPE html>
<html lang="en" ng-app="dicApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dalai Islamic Centre is an innovative Faith based organization registered for working in any part of Tanzania.Its head office is in Dodoma Region.Central part of Tanzania.Currently the organization is mostly working in Dodoma Region."/>

    <title>Dalai Islamic Center</title>

    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Lightbox2 -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="mainController">

<!-- HEADER AND NAVBAR -->

<header>
    <nav class="navbar navbar-findcond navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img src="" alt="" >DIC</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <a href="#donate" class="btn btn-default navbar-btn pull-right">Donate</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#about">About <span class="sr-only">(current)</span></a></li>
                    <li><a href="#what-we-do">What We Do <span class="sr-only">(current)</span></a></li>
                    <li><a href="#gallery">Gallery <span class="sr-only">(current)</span></a></li>
                    <li><a href="#contact">Contact <span class="sr-only">(current)</span></a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
    {{ message }}

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>

</div>

<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-4">
                <h3>Navigation</h3>

                <ul class="list-unstyled">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>
            <div class="col-sm-4">
                <h3>About</h3>

                <p>
                    DIC is an innovative Faith based organization registered for working in any part of Tanzania. Its head office is in Dodoma Region, central part of Tanzania. Currently the organization is mostly working in Dodoma Region.
                </p>

            </div>
            <div class="col-sm-4">
                <h3>Keep In Touch</h3>

                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> 0715 305 310</li>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
                    <li><i class="fa fa-envelope"></i> info@dalaiislamiccenter.org</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <p class="text-center">
            &copy; 2017 Dalai Islamic Center. All Rights Reserved | Designed by <a href="#">JM</a>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Lightbox2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"></script>

<script src="script.js"></script>

</body>
</html>