<!-- about.html -->
<div class="jumbotron jumbotron-about text-center">
    <h1>About us</h1>

    <p>{{ message }}</p>
</div>

<div class="about">
    <div class="container">
        <div class="about-left">
            <div class="about-bottom">
                <div class="col-md-7 about-grid">
                    <h3>Brief description of the Organization</h3>
                    <p>Dalai Islamic Centre is an innovative Faith based organization registered for
                        working in any part of Tanzania.Its head office
                        is in Dodoma Region.Central part of Tanzania.Currently the organization is mostly working in
                        Dodoma Region.</p><br/>

                    <h3>Mission</h3>
                    <p>To provide technical, materials and financial support to the community with the aim of
                        alleviating suffering,caused
                        by the conflicts of groups or natural disasters such as HIV/AIDS and poverty.</p><br/>

                    <h3>Vision</h3>
                    <p>Focus on: alleviating human suffering: Human-centered development; participatory approach in
                        development process,
                        resources and project sustainability at all levels in the community.</p><br/>

                    <h3>Goals</h3>
                    <p>The main goal of DIC is to promote and support orphans and vulnerable children to improve their
                        livelihood through
                        implementation of various economic activities with care of their health status and improving
                        education for the purpose
                        of creating awareness against different calamities and diseases.</p>
                </div>
                <div class="col-md-5 about-grid1">
                    <a href="">
                        <img src="https://s25.postimg.org/hywayw60f/dic7.jpg" alt="" class="img-responsive ">
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<div class=" in-profile">
    <div class="container">
        <h3 class="text-center">Contact Persons</h3>
        <div class="team-left ">
            <div class="col-md-4 team-top">
                <img class="img-responsive" src="http://placehold.it/280x250" alt="">
                <strong>RASHID BURA</strong><br>
                <em>General secretary</em>
                <p><i class="fa fa-phone"></i> 0715 305 310 <br>
                    <i class="fa fa-phone"></i> 0754 305 310 <br>
                    <i class="fa fa-phone"></i> 0785 305 310</p>
            </div>
            <div class="col-md-4 team-top ">
                <img class="img-responsive  " src="http://placehold.it/280x250" alt="">
                <strong>MASHAKA MNJALO</strong><br>
                <em>Techical Advisor</em>
                <p>(B.counceling Tumaini University)</p>
                <p><i class="fa fa-phone"></i> 0767 357 424 <br>
                    <i class="fa fa-phone"></i> 0715 357 424 <br>
                    <i class="fa fa-phone"></i> 0784 357 424</p>
            </div>
            <div class="col-md-4 team-top">
                <img class="img-responsive  " src="http://placehold.it/280x250" alt="">
                <strong>MAULIDI RASHIDI</strong><br>
                <em>Techical Advisor</em>
                <p>(B.Science Education St.John's University)</p>
                <p><i class="fa fa-phone"></i> 0758 414 107</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<!-- <div class="container few-words">
    <div class="about-top">
        <h3 class="text-center">A Few Words About Us</h3>
        <div class="col-md1 ">
            <div class="col-md-6">
                <div class="col-md-6 about-grid2">

                    <img src="http://lorempixel.com/400/200/business/1" alt="" class="img-responsive ">
                </div>
                <div class="col-md-6 about-grid3">
                    <h4>Brief description of the Organization</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna duis ultricies </p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 about-grid2">
                    <img src="http://lorempixel.com/400/200/business/2" alt="" class="img-responsive ">
                </div>
                <div class="col-md-6 about-grid3">
                    <h4>Brief description of the Organization</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna duis ultricies </p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md1 ">
            <div class="col-md-6 few">
                <div class="col-md-6 about-grid2">
                    <img src="http://lorempixel.com/400/200/business/3" alt="" class="img-responsive ">
                </div>
                <div class="col-md-6 about-grid3">
                    <h4>Maecenas tristique orci ac sem Duis ultricies</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna duis ultricies </p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 few">
                <div class="col-md-6 about-grid2">

                    <img src="http://lorempixel.com/400/200/business/4" alt="" class="img-responsive ">

                </div>
                <div class="col-md-6 about-grid3">
                    <h4>Maecenas tristique orci ac sem Duis ultricies</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna duis ultricies</p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div> -->
<!---->
</div>
