<!-- contact.html -->
<div class="jumbotron jumbotron-contact text-center" style="margin-bottom: 0;">
  <h1>Contact Us</h1>

  <p>{{ message }}</p>
</div>

<div class="well" style="margin-top: 0; margin-bottom: 0;">
  <div class="container contact">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

          <form role="form">
        
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
        
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>   

          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="message" class="form-control" rows="10" placeholder="Your message here..." required="required"></textarea>
          </div>           
          
          <button type="button" class="btn btn-primary" onclick="alert('Thank you')">Submit </button>

        </form>
 
      </div>
    </div>
  </div>  
</div>