<!-- about.html -->
<div class="jumbotron jumbotron-donate text-center">
    <h1>Donate Now!</h1>
 
    <p>{{ message }}</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">We kindly appreciate your donation</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>MPESA</dt>
                        <dd>+255 754 305 310</dd>
                    </dl>
                    <hr>
                    <dl class="dl-horizontal">
                        <dt>Airtel money</dt>
                        <dd>+255 785 305 310</dd>
                    </dl>
                    <hr>
                    <dl class="dl-horizontal">
                        <dt>Tigo Pesa</dt>
                        <dd>+255 715 305 310</dd>
                    </dl>
                    <hr>
                    <hr>
                    <dl class="dl-horizontal">
                        <dt>Account name:</dt>
                        <dd>DALAI ISLAMIC CENTER</dd>
                        <dt>Account number:</dt>
                        <dd>5900427001</dd>
                        <dt>Bank name</dt>
                        <dd>Diamond Trust Bank Tanzania Limited (DTB T LTD)</dd>
                        <dt>Branch name</dt>
                        <dd>Dodoma</dd>
                        <dt>Branch code</dt>
                        <dd>009</dd>
                        <dt>Swift Code</dt>
                        <dd>DTKETZTZ</dd>
                        <dt>Bank Address</dt>
                        <dd>
                            Bhojani House,<br>
                            Khatibu Street, <br>
                            P.O.Box 381 <br>
                            Dodoma <br>
                            Tanzania
                        </dd>
                        <dt>Mobile number</dt>
                        <dd>+255 715 305 310</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>