<!-- services.html -->
<div class="jumbotron jumbotron-gallery text-center">
  <h1>Image Gallery</h1>

  <p>{{ message }}</p>
</div>

<div class="container gallery">

  <div class="row">
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/bzinpgxv3/1.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/bzinpgxv3/1.jpg" class="img-responsive" alt="Image">
      </a>     
    </div>
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/s1b31mkxb/dic2.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/s1b31mkxb/dic2.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/wz3cupoxb/5.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/wz3cupoxb/5.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/4tvi0re5r/image.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/4tvi0re5r/image.jpg" class="img-responsive" alt="Image">
      </a>     
    </div>
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/h5yee920f/8.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/h5yee920f/8.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/63tbft7xr/6.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/63tbft7xr/6.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
  </div> 

  <br>

  <div class="row">
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/5gfpib90v/dic5.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/5gfpib90v/dic5.jpg" class="img-responsive" alt="Image">
      </a>     
    </div>
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/sdbu03srz/img2.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/sdbu03srz/img2.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
    <div class="col-sm-4">
      <a href="https://s25.postimg.org/99iijrfxr/image.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/99iijrfxr/image.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
          <div class="col-sm-4">
      <a href="https://s25.postimg.org/4c4xyndyn/image.jpg" data-lightbox="roadtrip">
        <img src="https://s25.postimg.org/4c4xyndyn/image.jpg" class="img-responsive" alt="Image">
      </a>       
    </div>
  </div>   

</div>