<!-- home.html -->
<div class="container">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
          
            <li data-target="#bs-carousel" data-slide-to="2"></li>
             <li data-target="#bs-carousel" data-slide-to="3"></li>
             <li data-target="#bs-carousel" data-slide-to="4"></li>
             <li data-target="#bs-carousel" data-slide-to="5"></li>
             <li data-target="#bs-carousel" data-slide-to="6"></li>
            
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Dalai Islamic Center</h1>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Children on a graduation day</h3>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Graduation Ceremony</h3>
                    </hgroup>
                </div>
            </div>
               <div class="item slides">
                <div class="slide-4"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Showing the guests</h3>
                    </hgroup>
                </div>
            </div>
               <div class="item slides">
                <div class="slide-5"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Together photo</h3>
                    </hgroup>
                </div>
            </div>
               <div class="item slides">
                <div class="slide-6"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Giving speech</h3>
                    </hgroup>
                </div>
            </div>
               <div class="item slides">
                <div class="slide-7"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Giving speech</h3>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mission, Vision and Goal -->
<div class="mvg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="well actions">
                    <h3><i class="fa fa-rocket"></i> Mission</h3>
                    <p>
                        Our mission is to provide technical, material and financial support to the community with the
                        aim of
                        alleviating suffering, caused by the conflicts of groups or natural disasters such as HIV/AIDS
                        and
                        poverty.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="well actions">
                    <h3><i class="fa fa-binoculars"></i> Vision</h3>
                    <p>
                        We are focusing on alleviating human sufferings, human-centered development, participatory
                        approach
                        in
                        development process, resources and project sustainability at all levels in the community.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="well actions">
                    <h3><i class="fa fa-crosshairs"></i> Goal</h3>
                    <p>
                        We promote &amp; support orphans and vulnerable children to improve their livelihood through
                        implementation of various economic activities with care of their health and improving education
                        for
                        the
                        purpose of creating a peaceful society.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Donation -->
<div class="donation">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="#"><img class="img-responsive" src="https://s25.postimg.org/4tvi0re5r/image.jpg" alt=""></a>
            </div>
            <div class="col-sm-6">
                <h3>We need your help</h3>
                <p>JOIN US TO HELP THE CHILDREN</p>
                <p>We have no a permanent donor at this infancy stage. Without a reliable source of donor funds,
                    it is not possible for us to achieve out goals. We request that you provide us financial and
                    technical assistance in order to strengthen our organization in working with and support
                    these unfortunate children who through no fault of their own are suffering from the impact
                    of HIV/AIDS.</p>
                <a href="#donate" class="btn btn-primary btn-lg">Donate</a>

            </div>
        </div>
    </div>
</div>

<!-- Our works -->
<div class="works">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Our Works</h2>
            <div class="col-sm-4">
                <a href="#"><img class="img-responsive" src="http://placehold.it/440x174" alt=""></a>
                <h4><a href="#">Zam-Zam Orphanage Center</a></h4>
                <p>Zam-Zam Orphanage Center is situated at Miyuji. We help the children who live in hard and
                    difficult environment who do not have access to food, shelter, clothes and other
                    guidance support in order to grow with moral values.</p>
            </div>
            <div class="col-sm-4">
                <a href="#"><img class="img-responsive" src="http://placehold.it/440x174" alt=""></a>
                <h4><a href="#">Zam-Zam Primary School</a></h4>
                <p>Zam-Zam Primary School is situated at Miyuji with more than 56 children. We provide
                    primary education to give the children a strong foundation for their lives. We also have
                    kindergarten school situated at Area A which has more than 67 children.</p>
            </div>
            <div class="col-sm-4">
                <a href="#"><img class="img-responsive" src="http://placehold.it/440x174" alt=""></a>
                <h4><a href="#">Zam-Zam Secondary School</a></h4>
                <p>Zam-Zam Secondary School is situated at Kondoa District in Dodoma region. We provide
                    secondary school education to give the children the necessary knowledge to contribute to
                    the development of the nation.</p>
            </div>
        </div>
    </div>
</div>

<!-- Core values -->
<div class="core-values">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>CORE VALUES</h3>
                <p>Creativity, Integration, Cooperation, Decision making, Discipline, Equity/Equality and
                    Transparency.</p>
                <p>
                    <a href="#donate" class="btn btn-info btn-lg">Donate</a>
                </p>
            </div>
        </div>
    </div>
</div>