<!-- services.html -->
<div class="jumbotron jumbotron-services text-center">
    <h1>Our services</h1>

    <p>{{ message }}</p>
</div>

<div class="services">
    <div class="container">
        <div class="service-grid">
            <h2 class="text-center">How We Work</h2>
            <div class="work">
                <div class="col-md-4 grid-service">
                    <img class="img-responsive" src="https://s25.postimg.org/n2646vlgv/image.jpg" alt=" ">
                    <h4>Awareness creation</h4>
                    <p>We create awareness of the environment and encourage the public to cares for the needs of
                        orphans and vulnerable children disabled and widows in the community.</p>

                </div>
                <div class="col-md-4 grid-service">
                    <img class="img-responsive" src="https://s25.postimg.org/j34bab7fz/img2.jpg" alt=" ">
                    <h4>Educate the community</h4>
                    <p>We help and educate the community on the meaning of human development promoted by Islamic
                        teaching.</p>

                </div>
                <div class="col-md-4 grid-service">
                    <img class="img-responsive" src="https://s25.postimg.org/jh5n9wrjj/IMG_20161105_130013.jpg" alt=" ">
                    <h4><a href="#">Collaboration </a></h4>
                    <p>We collaborate with the government, community members, national and international NGOs in
                        fighting against the spread and transmission of HIV/AIDS to children and poverty alleviation
                        in Tanzania. </p>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="work">
                <div class="col-md-4 grid-service">
                    <img class="img-responsive" src="https://s25.postimg.org/xg2cmdgtr/image.jpg" alt=" ">
                    <h4>Community development</h4>
                    <p>We establish and build schools, orphanage centers, health centers, clinics and hospitals for
                        the community services, widows and disabled.</p>

                </div>
                <div class="col-md-4 grid-service">
                    <img class="img-responsive" src="https://s25.postimg.org/pyt575ran/image.jpg" alt=" ">
                    <h4>Peace promotion</h4>
                    <p>We promote peace making initiatives, reconciliation and crisis intervention among the
                        community in collaboration with the government and other faith groups.</p>

                </div>
                <div class="col-md-4 grid-service">
                    <img class="img-responsive" src="https://s25.postimg.org/ttwj9qagf/image.jpg" alt=" ">
                    <h4>Poverty alleviation</h4>
                    <p>We collaborate with the government, community members, national and international NGOs in
                        fighting against the spread and transmission of HIV/AIDS to children and poverty alleviation
                        in Tanzania. </p>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-mn call-for-donation">
        <div class="container">

            <div class="col-mn2 text-center">
                <h3>We humbly need your help</h3>
                <p>Together we can help the society</p>

                <a class="btn btn-success btn-lg" href="#donate">Donate</a>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="service-bottom">
            <div class="col-md-8 service-top">
                <h3>Our specific objectives</h3>
                <div class=" service-top-bottom">
                    <div class="col-md-6 ser-in">
                        <i class="fa fa-hand-spock-o fa-icon"> </i>
                        <div class="service-on">
                            <h4>Support orphans</h4>
                            <p>To support orphans and vulnerable children (Islamic society) affected by HIV/AIDS
                                (Widows and disabled) with psycho education and economic gain for improving their
                                livelihood in the community. </p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 ser-in">
                        <i class="fa fa-heartbeat fa-icon"> </i>
                        <div class="service-on">
                            <h4>Improve Health</h4>
                            <p>To improve health status of orphans and vulnerable children through heath care
                                awareness and counseling services. </p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class=" service-top-bottom">
                    <div class="col-md-6 ser-in">
                        <i class="fa fa-money fa-icon"> </i>
                        <div class="service-on">
                            <h4>Income generation</h4>
                            <p>To support income generation project through micro-credit and economic gain project
                                from different donor agencies. </p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 ser-in">
                        <i class="fa fa-book fa-icon"> </i>
                        <div class="service-on">
                            <h4>Give reproductive health education</h4>
                            <p>To give education of reproductive health and combat negative culture like female
                                genital mutilation to women and domestic abuse in household. </p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 service-top-at">
                <h3>Projects we have conducted</h3>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i> AIDS prevention to the religious
                        leaders in Dodoma manicipality and Kongwa district in Dodoma Tanzania. <a href="#">Read
                            more &raquo;</a>
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i> HIV/AIDS support project on AIDS orphans basic
                        education initiative in Dodoma municipality. <a href="#">Read more &raquo;</a>
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i> Vocational training courses <a href="#">Read
                        more &raquo;</a></li>
                    <li><i class="fa-li fa fa-check-square"></i> Building primary and secondary schools for
                        children.
                        <a href="#">Read more &raquo;</a></li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>